<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mariadb://localhost:3306/acadmic_as</property>
    <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
      <mapping class="com.academic.as.demo.models.AdminEntity"/>
      <mapping class="com.academic.as.demo.models.AssistantEntity"/>
      <mapping class="com.academic.as.demo.models.DoctorEntity"/>
      <mapping class="com.academic.as.demo.models.StudentEntity"/>
      <mapping class="com.academic.as.demo.models.SupervisorEntity"/>
      <mapping class="com.academic.as.demo.models.UserEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>