<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>error 404</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">

<link rel="stylesheet" href="{{asset('css/error404.css')}}">


</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="error404">
					<div class="msg_404">
						<p>Looks Like You Got Lost</p>
						<h2>Page Not Found!</h2>
					</div>
					<div class="img_404">
						<img src="images/error-404.png" alt="">
					</div>
					<div class="home_btn">
						<a href="/">Go Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>