<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons::head">
</head>
<title>Add Course</title>
<style>
    body {background-color: #ebf0f6;}
</style>
<body>

<div th:replace="commons::nav"></div>

<div class="container">
    <h2>Add Course</h2>
    <br><br>
    <form action="#" th:action="@{/add/course}" th:object="${course} " method="post">
        <div class="row">
        <div class="form-group col-md-5 ">
            <label for="name">Course Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name"
                   placeholder="Enter Course Name" required="required">
            <div th:if="${#fields.hasErrors('name')}" class="alert  alert-danger error" role="alert">
                <td th:errors="*{name}">name Error</td>
            </div>
        </div>
        <div class="form-group col-md-5 ">
            <label for="code">Course Code:</label>
            <input type="number" class="form-control" th:field="*{code}" id="code"
                   placeholder="Enter Code" required="required">
            <div th:if="${#fields.hasErrors('code')}" class="alert alert-danger error" role="alert">
                <td th:errors="*{code}">code Error</td>
            </div>
        </div>
        <div class="form-group col-md-5 ">
            <label for="required_points">Required Point:</label>
            <input type="number" class="form-control" min="0" th:field="*{requiredPoints}" id="required_points"
                   placeholder="Enter Required Point" required="required">
            <div th:if="${#fields.hasErrors('requiredPoints')}" class="alert alert-danger error" role="alert">
                <td th:errors="*{requiredPoints}">requiredPoints Error</td>
            </div>
        </div>
        <div class="form-group col-md-5 ">
            <label for="awarded_points">Awarded Point:</label>
            <input type="number" class="form-control" th:field="*{awardedPoints}" id="awarded_points"
                   placeholder="Enter Awarded Point" required="required">
            <div th:if="${#fields.hasErrors('awardedPoints')}" class="alert alert-danger error" role="alert">
                <td th:errors="*{awardedPoints}">awardedPoints Error</td>
            </div>
        </div>
        <div class="form-group col-md-9">
            <label >Departments</label>
            <br>
            <select title="Select Department" th:field="*{department}" class="selectpicker" id="department_id">
                <div th:each=" dep : ${departments} ">
                    <option th:value="${dep.getId()}" th:text="${dep.getDepartmentName()}"></option>
                </div>
            </select>
        </div>
            <div class="form-group col-md-1">
                <br><br>
        <button type="submit" style="float: right;background-color:#00b0ff;" class="btn">Submit</button>
            </div>
        </div>
    </form>
    <br>


</div>
<br>
<br>
<div class="container" th:if="${response}">

    <div class="alert alert-danger" role="alert" th:if='${response.getCode().equals("400")}'>
        <p th:text="${response.getMessage()}"></p>
    </div>

    <div class="alert alert-success" role="alert" th:if='${response.getCode().equals("200")}'>
        <p>Course Added Successfully</p>
    </div>
</div>
<br>

</body>
</html>
