<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=9">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Add Department</h2>
<form action="#" th:action="@{/add/department}" th:object="${department} " method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="depname">Department Name</label>
            <input type="text" class="form-control" th:field="*{departmentName}" id="depname"
                   placeholder="Enter Department Name">
            <td th:if="${#fields.hasErrors('departmentName')}" th:errors="*{departmentName}">departmentName Error</td>

        </div>
        <div class="col-auto my-9 col-md-9">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <div class="alert alert-warning" role="alert" th:if="${response}">
        <p th:text="${response.getMessage()}"/>
    </div>

</form>
</body>
</html>