<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="commons::head">
    <title>edit profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" >
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="commons::nav"></div>
<br><br>
<div class="container text-center" style="margin-top: 20px">
    <form class="form-horizontal" action="#" th:action="@{/user/{ID}/edit}" th:object="${user}" method="post">
        <input type="hidden" th:value="${user.getId()}" th:field="*{id}" id="id">
        <div class="form-group" style="display: none">
            <label for="fname"  class="col-lg-2 control-label">First Name</label>
            <div class="col-lg-5">
                <input type="text" th:value="${user.getFirstName()}" class="form-control" th:field="*{firstName}" id="fname"
                       placeholder="Enter First Name">
            </div>
        </div>
        <div class="form-group" style="display: none">
            <label for="lname"  class="col-lg-2 control-label">Second Name</label>
            <div class="col-lg-5">
                <input type="text" th:value="${user.getLastName()}" class="form-control" th:field="*{lastName}" id="lname"
                       placeholder="Enter Second Name">
            </div>
        </div>
        <div class="form-group" style="display: none">
            <label for="username"  class="col-lg-2 control-label">Username</label>
            <div class="col-lg-5">
                <input type="text" th:value="${user.getUserName()}" class="form-control" th:field="*{username}" id="username"
                       placeholder="Enter Username" required="required">
            </div>
        </div>
        <div class="form-group" style="display: none">
            <label for="email"  class="col-lg-2 control-label">Email Address</label>
            <div class="col-lg-5">
                <input type="email" th:value="${user.getEmail()}" class="form-control" th:field="*{email}" id="email" placeholder="Enter Email"
                >
            </div>
        </div>
        <div class="form-group">
            <label for="password"  class="col-lg-2 control-label">Password</label>
            <div class="col-lg-5">
                <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Password"
                >
            </div>
            <div th:if="${#fields.hasErrors('password')}" class="alert  alert-danger error" role="alert">
                <td th:errors="*{password}">password Error</td>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm_password"  class="col-lg-2 control-label">Confirm Password</label>
            <div class="col-lg-5">
                <input type="password" class="form-control" id="confirm_password"
                       placeholder="Confirm Password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save Changes</button>
            </div>
        </div>

    </form>
</div>
<br>
<div class="container" th:if="${response}">

    <div class="alert alert-danger" role="alert" th:if='${response.getCode().equals("400")}'>
        <p th:text="${response.getMessage()}"></p>
    </div>

    <div class="alert alert-success" role="alert" th:if='${response.getCode().equals("200")}'>
        <p>User Updated Successfully</p>
    </div>
</div>

<script>

    document.getElementById("form").addEventListener("click", function (ev) {
        document.getElementById("sub").click();
    })

    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

</script>

</body>
</html>