<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="commons::head">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .btn-huge{
            padding-top:20px;
            padding-bottom:20px;
        }
    </style>
</head>
<body>
<div th:include="commons::nav"></div>
<div class="container">

    <br>
    <div class="row">
        <div class="col-md-4">
            <a th:href="@{/all/admins}"  class="btn btn-primary btn-lg btn-block btn-huge">All Admins</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/all/students}"  class="btn btn-primary btn-lg btn-block btn-huge">All Students</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/all/professers}"  class="btn btn-primary btn-lg btn-block btn-huge">All Professors</a>
        </div>
    </div>
    <br><br>
    <div class="row">

        <div class="col-md-6">
            <a th:href="@{/all/supervisors}"  class="btn btn-primary btn-lg btn-block btn-huge">All Supervisors</a>
        </div>
        <div class="col-md-6">
            <a th:href="@{/all/assistants}"  class="btn btn-primary btn-lg btn-block btn-huge">All Assistants</a>
        </div>
    </div>

</div>
</body>
</html>