<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="commons::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="commons::nav"></div>

   <div th:if="${response.getCode() == '200'}">
       <h3>User Data</h3>
       <ul>
           <li><strong>Email</strong> : <data th:text="${userData.getEmail()}"></data></li>
           <li><strong>User Name</strong> : <data th:text="${userData.getUsername()}"></data></li>
           <li><strong>Register At</strong> : <data th:text="${userData.getCreateDate()}"></data></li>
       </ul>
   </div>
   <div th:if="${response.getCode() == '400'}">
          <div class="alert alert-warning">
              <data th:text="${response.getMessage()}"></data>
          </div>
   </div>
</body>
</html>