<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="commons::head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<style>
    ul.list-group {
        list-style-type: circle;
        list-style-position: outside;
    }
    body {background-color: #ebf0f6;}
</style>
<body>
<div th:include="commons::nav"></div>
   <div th:if="${response.getCode() == '200'}">
       <br>
       <h2 style="color: #132238;margin-left: 10%">User Data:</h2>
       <br><br><br>
       <ul class="list-group" style="width: 30%;height: 15%;margin-left: 15%">
           <li class="list-group-item list-group-item-info" style="background-color:#364e68"><strong style="color: white;font-size: 19px">Email : </strong> <data th:text="${userData.getEmail()}" style="color: #98ccd3;font-size: 18px"></data></li>
           <li class="list-group-item list-group-item-info"style="background-color:#364e68"><strong style="color: white;font-size: 19px">User Name : </strong> <data th:text="${userData.getUsername()}"style="color: #98ccd3;font-size: 18px"></data></li>
           <li class="list-group-item list-group-item-info"style="background-color:#364e68"><strong style="color: white;font-size: 19px">Register At : </strong> <data th:text="${userData.getCreateDate()}"style="color: #98ccd3;font-size: 18px"></data></li>
       </ul>
   </div>
   <div th:if="${response.getCode() == '400'}">
          <div class="alert alert-warning">
              <data th:text="${response.getMessage()}"></data>
          </div>
   </div>
</body>
</html>